In [4]:
import pandas as pd
staff = pd.read_csv("staff.csv")
print(f"\ncolumns: \n{list(staff.columns)}\n")

columns:
['name', 'city', 'date_of_birth', 'start_date', 'salary', 'department']

In [5]:
print(staff["name"].str[0:3])

0    Joh
1    Jan
2    Mat
3    Ash
4    Jon
5    Hal
Name: name, dtype: object

In [6]:
print(staff["name"].str.split(" "))

0            [John, Doe]
1            [Jane, Doe]
2          [Matt, smith]
3       [Ashley, Harris]
4    [Jonathan, targett]
5           [Hale, Cole]
Name: name, dtype: object

In [8]:
# The expand parameter of the split function can be used to create separate columns after splitting.
# We can then select the column we need.
staff["last_name"]=staff["name"].str.split(" ",expand=True)[1]
print(staff["last_name"])

0        Doe
1        Doe
2      smith
3     Harris
4    targett
5       Cole
Name: last_name, dtype: object

In [9]:
print(staff["name"] + " - " + staff["department"])

0               John Doe - Accounting
1            Jane Doe - Field Quality
2        Matt smith - human resources
3          Ashley Harris - accounting
4    Jonathan targett - field quality
5             Hale Cole - engineering
dtype: object

In [12]:
staff["state"]=staff["city"].str.split(",",expand=True)[1]
staff["state"]

0     TX
1     CA
2     TX
3     FL
4     CA
5     GA
Name: state, dtype: object

In [15]:
print(staff["city"].str.replace(","," --@"))

0        Houston --@ TX
1       San Jose --@ CA
2         Dallas --@ TX
3          Miami --@ FL
4    Santa Clara --@ CA
5        Atlanta --@ GA
Name: city, dtype: object

In [20]:
staff["state"]=staff["city"].str[-2:]
staff["state"].replace({"TX":"Texas","CA":"California","FL":"Florida","GA":"Georgia"},inplace=True)
staff["state"]

0         Texas
1    California
2         Texas
3       Florida
4    California
5       Georgia
Name: state, dtype: object

In [21]:
print(staff["city"].str.split(",",expand=True)[1].str.lower())

0     tx
1     ca
2     tx
3     fl
4     ca
5     ga
Name: 1, dtype: object

In [22]:
print(staff["department"].str.lower().replace("field quality","quality"))

0         accounting
1            quality
2    human resources
3         accounting
4            quality
5        engineering
Name: department, dtype: object

In [25]:
print(staff.query("name>'John Doe'").start_date.str[:4].astype("int"))

2    2020
4    2020
Name: start_date, dtype: int64

In [27]:
#making salary proper
staff["salary_cleaned"]=staff["salary"].str.replace("$","").str.replace(",","")
staff["salary_cleaned"]=staff["salary_cleaned"].astype("int")
print(staff["salary_cleaned"])

0    65000
1    70000
2    58500
3    49500
4    62000
5    54500
Name: salary_cleaned, dtype: int64

/var/folders/m9/wplwpdb51v76hyxjsyzv3g8r0000gn/T/ipykernel_1996/3651945297.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  staff["salary_cleaned"]=staff["salary"].str.replace("$","").str.replace(",","")

In [31]:
print(staff.dtypes)
staff = staff.astype({
    "date_of_birth":"datetime64[ns]",
    "start_date":"datetime64[ns]"
})
print("-----------------------AFTER CHANGE------------------------")
print(staff.dtypes)

name                      object
city                      object
date_of_birth     datetime64[ns]
start_date        datetime64[ns]
salary                    object
department                object
last_name                 object
state                     object
salary_cleaned             int64
dtype: object
-----------------------AFTER CHANGE------------------------
name                      object
city                      object
date_of_birth     datetime64[ns]
start_date        datetime64[ns]
salary                    object
department                object
last_name                 object
state                     object
salary_cleaned             int64
dtype: object

In [35]:
mydate=pd.to_datetime("2023-03-20 14:30:00")
print(mydate.year)
print(mydate.month)
print(mydate.date)
print(mydate.hour)
print(mydate.minute)
print(mydate.second)
print(mydate.date())
print(mydate.weekday())
print(mydate.month_name())
print(mydate.day_name())

2023
3
<built-in method date of Timestamp object at 0x7fd778f5a0b0>
14
30
0
2023-03-20
0
March
Monday

In [36]:
staff = staff.astype({
    "date_of_birth":"datetime64[ns]",
    "start_date":"datetime64[ns]"
})
staff["start_month"]=staff["start_date"].dt.month
print(staff[["start_date","start_month"]])
#dt has also weekday, hour, minute,second, week,weekofyear

  start_date  start_month
0 2018-08-11            8
1 2017-08-24            8
2 2020-04-16            4
3 2021-02-11            2
4 2020-09-01            9
5 2021-10-20           10

In [38]:
staff["start_date"].dt.isocalendar()

   year  week  day
0  2018    32    6
1  2017    34    4
2  2020    16    4
3  2021     6    4
4  2020    36    2
5  2021    42    3

In [46]:
staff["new_date"]=staff["start_date"]+pd.DateOffset(months=6)
print(staff["start_date"])
print(staff["new_date"])
#DateOffSet also have years, months, weeks, days, hours, minutes, seconds, microseconds, nanoseconds

0   2018-08-11
1   2017-08-24
2   2020-04-16
3   2021-02-11
4   2020-09-01
5   2021-10-20
Name: start_date, dtype: datetime64[ns]
0   2019-02-11
1   2018-02-24
2   2020-10-16
3   2021-08-11
4   2021-03-01
5   2022-04-20
Name: new_date, dtype: datetime64[ns]

In [47]:
print(staff["start_date"]+pd.Timedelta(value=12, unit='w'))
# in unit you can also specify as d,h,t,s,l,u,n which are respectivelly day,hour,minute,second,millisecond,microsecond,nanosecond

0   2018-11-03
1   2017-11-16
2   2020-07-09
3   2021-05-06
4   2020-11-24
5   2022-01-12
Name: start_date, dtype: datetime64[ns]